#add-success-alert,
#update-success-alert,
#delete-success-alert {
    display: none;
    position: fixed;
    top: 0.7px;
    right: 600px;
}
#unloged
{
    display: none;
    position: center;
    position: relative;
    border: 0.1em solid red;
    width:100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
}
#add-success-alert,
#update-success-alert,
#delete-success-alert {
    animation-name: fadeInAndOut;
    animation-duration: 4s,
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}