
@model Tuple<HashSet<System.DayOfWeek>, List<List<DanceSchool_10._05_ASP.NET_MVC.Models.Class>>>
        
        @{
        ViewData["Title"] = "temp";
        Layout = "~/Views/Shared/temp.cshtml";

    }

@*<div class="jumbotron">
        <tr> <td><img src="C:\Users\48573\source\repos\polsl-aei-cp4-ang\70f71ddf-gr11-repo\Project\Images/\images.jpg" alt="image" /> </td></tr>
        <head>
            Dance Shool - "Arabesque"

        </head>

        <title>Welcome to Dance School Manager App</title>
        <body>
            Let's us introduse ourself!
        </body>
        <img src="C:\Users\48573\source\repos\polsl-aei-cp4-ang\70f71ddf-gr11-repo\Project\Images\TitlePage.jpg" />

    </div>*@
<section class="hero-wrap js-fullheight" style="background-image: url('images/my4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" style="height: 969px;">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h1 class="typewrite mb-3" data-period="4000" data-type="[ &quot;Inspiration For Powerful Living.&quot;, &quot;Effective Therapy Against Stress.&quot;, &quot;Start Now And Show Your Power.&quot;]"><span class="wrap">Effective Therapy Against Stress.</span></h1>
                <h2 class="mb-5">Dance today for a better tomorrow</h2>

            </div>
        </div>
    </div>
</section>

<section >
    <class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">

                <h2 class="mb-1">SCHEDULE</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item2 in Model.Item2)

            {

                <div class="col-md-3">
                    <div class="block-7">
                        <div class="text-center">
                            <h2 class="heading">
                            </h2>

                            <a class="navbar-brand" >@Model.Item1.ElementAt(Model.Item2.IndexOf(item2)) </a>

                            @foreach (var item3 in item2)
                            {

                                <h2 class="heading">
                                    Group id: @Html.DisplayFor(ModelItem => item3.GroupId)
                                </h2>


                                <h3 class="heading-2 my-4">Classes: </h3>

                                <ul class="pricing-text mb-5">
                                   
                                    <li>Hour id: @Html.DisplayFor(ModelItem => item3.HourId)</li>
                                  

                                    <li>Classroom: @Html.DisplayFor(ModelItem => item3.ClassroomId)</li>

                                </ul>

                            }
                        </div>
                    </div>
                </div>

            }
        </div>
</section>

