<form>
    <div class="mb-3">
        <label for="inspectionTypeId" class="form-label">Inspection Type </label>
        <select class="form-control" name="inspectionTypeId" id="inspectionTypeId" [(ngModel)]="inspectionTypeId">
            <option *ngFor="let type of inpectionTypesList" [value]="type.id">
                {{type.inspectionName}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label"> Status </label>
        <select class="form-control" name="status" id="status" [(ngModel)]="status">
            <option *ngFor="let status of statusList" [value]="status.statusOption">
                {{status.statusOption}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="disabledFieldsetCheck">
            Comments
        </label>
        <input class="form-control" type="text" [(ngModel)]="comments" name="comments">
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateInspection()">Update</button>
</form>