
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/temp.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">

    <section class="hero-wrap js-fullheight" style="background-image: url('images/piorko.jpg');">
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-12 heading-section ftco-animate text-center fadeInUp ftco-animated">
                    <h3 class="subheading">Our offert</h3>
                    <h2 class="mb-1"> Check Out this out &amp; Choose Your Suitable One </h2>
                </div>
            </div>
            </div>           
    </section>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">
                    <h2 class="subheading">Pricing Tables</h2>
                    <h3 class="mb-1">Choose amount of hours per month in which you are interested in.</h3>
                </div>



                <script type="text/javascript">
                    $("button").click(function () {
                        var fired_button = $(this).val();
                        alert(fired_button);
                    });

                </script>

                <table id="table1" border="1" onclick="handleClick(event);">
                    <thead>

                    <th>
                        Select number of hours

                    </th>

                    </thead>
                    <tbody>


                        <form asp-area="Offert" asp-action="DisplayOffert" method="post">
                            <input type="hidden" name="action" value="submit" />
                            <tr>
                                <td style="text-align:center;">
                                    <input id="edit1" type="submit" name='amount' value="1">


                            <tr>
                                <td style="text-align:center;">
                                    <input id="edit2" type="submit" name='amount' value="2">


                            <tr>
                                <td style="text-align:center;">

                                    <input id="edit3" type="submit" name='amount' value="4">

                            <tr>
                                <td style="text-align:center;">

                                    <input id="edit3" type="submit" name='amount' value="8">

                            <tr>
                                <td style="text-align:center;">

                                    <input id="edit3" type="submit" name='amount' value="10">

                            <tr>
                                <td style="text-align:center;">

                                    <input id="edit3" type="submit" name='amount' value="12">

                            <tr>
                                <td style="text-align:center;">

                                    <input id="edit3" type="submit" name='amount' value="14">

                            <tr>
                                <td style="text-align:center;">

                                    <input id="edit3" type="submit" name='amount' value="16">

                        </form>

                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">
                    <h2 class="subheading">Nothing Satyfing?</h2>


                    <a class="btn btn-primary d-block px-2 py-4" asp-area="" asp-controller="Offert" asp-action="Contact">Contact us!</a>
                </div>
</section>

</body>
</html>