@model DanceSchool_10._05_ASP.NET_MVC.Models.DanceStyle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/shared/temp.cshtml";
}

<h1>Create</h1>

<h4>Dance Style</h4>

<section>


    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DancestyleName" class="control-label"></label>
                    <input asp-for="DancestyleName" class="form-control" />
                    <span asp-validation-for="DancestyleName" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="DancestyleId" class="control-label"></label>
                    <input asp-for="DancestyleId" class="form-control" />
                    <span asp-validation-for="DancestyleId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>

</section>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
