@model DanceSchool_10._05_ASP.NET_MVC.Models.Group

@{
    ViewData["Title"] = "Edit"; Layout = "~/Views/Shared/temp.cshtml";
}
    <body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
        <h1>Edit</h1>

        <h4>Group</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="GroupId" />
                    <div class="form-group">
                        <label asp-for="SupervisorId" class="control-label"></label>
                        <input asp-for="SupervisorId" class="form-control" />
                        <span asp-validation-for="SupervisorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GroupName" class="control-label"></label>
                        <input asp-for="GroupName" class="form-control" />
                        <span asp-validation-for="GroupName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DancestyleId" class="control-label"></label>
                        <select asp-for="DancestyleId" class="form-control" asp-items="ViewBag.DancestyleId"></select>
                        <span asp-validation-for="DancestyleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
        </body>