
@model IEnumerable<DanceSchool_10._05_ASP.NET_MVC.Models.Dancer>

@{
    ViewData["Title"] = "Search";
  
    Layout = "~/Views/Shared/temp.cshtml";;
}
<h1>Search</h1>

<h4>Dancer</h4>
<hr />
<div class="row">
    <form asp-controller="Dancers" asp-action="Search" method="get">
        <p>
            Name: <input type="text" name="searchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table">
        <thead>
         
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
           
                    <td>
                        @Html.DisplayFor(modelItem => item.Function.FunctionId)
                    </td>
                  
                </tr>
            }
        </thead>
</table>
    
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
