@model  Tuple<SortedList<int, double>, double>  


 @{ ViewData["Title"] = "DisplayOffert"; Layout = "~/Views/Shared/temp.cshtml"; }

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">
                    <h3 class="subheading">Pricing Tables</h3>
                    <h2 class="mb-1">Discount of each next hour</h2>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Hour index
                        </th>
                        <th>
                            Price per hour
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>

                    </tr>
                        }
                </tbody>
            </table>
            <h3>
            </h3>
        </div>
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">
                    <h3 class="subheading">    Total price:  @Html.DisplayFor(Model => Model.Item2)</h3>
                 
                </div>
            </div>
    </section>

</body>
</html>